 /* * {
    border: 1px solid black;
} */
/*
.fillable {
    border-color: lightcoral;
} */

body {
    text-align: center;
    touch-action: manipulation; /*should disable iOS zoom*/
}

h1 {
    margin: 0;
    font-family: 'Abel', sans-serif;
    color: rgb(78, 78, 78);
    font-size: 50px;
}

h2 {
    font-family: 'Abel', sans-serif;
    color: rgb(78, 78, 78);
    font-size: 30px;
    margin: 5px;
}

p {
    font-family: 'Abel', sans-serif;
    color: rgb(78, 78, 78);
    font-size: 17px;
    margin: 10px;
}

label {
    font-family: 'Abel', sans-serif;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    font-size: 17px;
}

select {
    font-family: 'Abel', sans-serif;
    border: 1px solid lightgray;
}

button {
    background-color: #cacaca;
    font-family: 'Abel', sans-serif;
    font-size: 17px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: purple;
}

a:hover {
    text-decoration: underline;
}

.cell-image {
    cursor: pointer;
}

.row {
    /* height: auto; */
    line-height: 0;
    /* display: flex; */
    /* border: 1px solid black; */
}

/* .cell {
    width: 40px;
    height: 40px;
    display: inline-block;
} */

#optionsContainer {
    padding: 10px 0 20px 0;
}

#optionsItemContainer {
    margin: 5px 5px;
    display: inline-block;
}

#gridContainer {
    text-align: center;
    display: inline-block;
    box-shadow: 5px 10px 18px #888888;
    width: 100%;
    /* border: 1px solid black; */
}

#score {
    margin: 15px 0 5px 0;
}

#result {
    font-weight: bold;
    color: rgb(255, 110, 255);
}

#attribution {
    font-size: 10px;
}

@media screen and (max-width: 400px) {
    /* body {
      background-color: red;
    } */
    #optionsContainer {
        padding: 2px 0 2px 0;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
        margin: 5px;
    }
    #gridContainer {
        margin: 10px 0 0 0;
    }
  }

