* {
    border: 2px solid black;
}

.fillable {
    border-color: lightcoral;
}

body {
    text-align: center;
}

#gridContainer {
    text-align: center;
    display: inline-block;
    border: 2px solid black;
}

.row {
    height: 20px;
}

.cell {
    width: 20px;
    height: 20px;
    display: inline-block;
}

